cssselect==0.9.1
decorator==4.0.4
Django==1.9
django-debug-toolbar==1.4
django-suit==0.2.15
grab==0.6.30
ipython==4.0.1
ipython-genutils==0.1.0
lxml==3.5.0
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.5
ptyprocess==0.5
pycurl==7.19.5.3
pyquery==1.2.9
pytils==0.3
selection==0.0.11
simplegeneric==0.8.1
six==1.10.0
sqlparse==0.1.18
traitlets==4.0.0
user-agent==0.1.0
weblib==0.1.20
wheel==0.24.0