{% extends 'base.html' %}
{% load front_tags %}
{% block title %}{{ object.title }}{% endblock %}
{% block meta %}
    <meta name="keywords" property="og:keywords" content="{% if category %}{{ category|title }}{% else %}Appartement{% endif %},{% if type|lower == 'louer' %}Rent{% elif type|lower == 'acheter' %}Buy{% else %}Rent{% endif %},{% if address %}{{ address|title }}{% else %}VD{% endif %}">
    <meta property="og:title" content="{{ object.title }}">
    <meta property="og:url" content="{{ page_url }}">
    <meta property="og:description" content="{{ object.additional_information }}">
    {% if object.get_first_image %}<meta property="og:image" content="{{ object.get_first_image }}"/>{% endif %}
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ion.rangeSlider.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/application.js"></script>
{% endblock %}
{% block content-wrapper %}
    {% if True%}{% comment %}object.is_published{% endcomment %}
        <section class="b-modal-map-wrapper" id="modal-map-wrapper">
            <section class="b-shadow"></section>
            <section class="b-modal-map" id="modal-map-wrapper">
                <a href="#" class="action__close"></a>
                <section class="b-map-wrapper" id="modal-map"></section>
                <script type="text/javascript">
                    $(document).ready(function(){
                        var mapmodal;
                        var mapmodalmapOptions = {zoom: 11,center: new google.maps.LatLng({{ object.map }})};
                        $.mapmodal = new google.maps.Map(document.getElementById('modal-map'), mapmodalmapOptions);

                        function initialize() {
                            var mapmodal;
                            var mapmodalmapOptions = {zoom: 11,center: new google.maps.LatLng({{ object.map }})};
                            mapmodal = new google.maps.Map(document.getElementById('modal-map'), mapmodalmapOptions);
                            var ObjectCoordsModal = new google.maps.LatLng({{ object.map }});

                            var marker = new google.maps.Marker({
                                position:ObjectCoordsModal,
                                map: mapmodal,
                                title: '{{ object.address }}'
                            });

                            var contentString = '<div id="map-content">'+
                                '<h2>{{ object.address }}</h2>'+
                                '<p>{{ object.title }}</p>'+
                                '</div>';

                            var infowindowModal = new google.maps.InfoWindow({
                                content: contentString
                            });

                            google.maps.event.addListener(marker, 'click', function() {
                                infowindowModal.open(mapmodal,marker);
                            });
                            //infowindow.open(map,marker);
                            google.maps.event.addListenerOnce(mapmodal, 'idle', function() {
                                    google.maps.event.trigger(mapmodal, 'resize');
                                });
                        }

                        function resize(){
                            var mapmodal;
                            var mapmodalmapOptions = {zoom: 11,center: new google.maps.LatLng({{ object.map }})};
                            mapmodal = new google.maps.Map(document.getElementById('modal-map'), mapmodalmapOptions);
                            google.maps.event.trigger(mapmodal, 'resize');
                        }
                        google.maps.event.addDomListener(window, 'load', initialize);


                            // modal map toggle
                            $("#showmap").on('click', function (event) {
                                event.preventDefault();
                                $("#modal-map-wrapper").show();
                                resize();
                                return false;
                            });
                            $("#modal-map-wrapper .action__close").on('click', function (event) {
                                event.preventDefault();
                                $("#modal-map-wrapper").hide();
                                resize();
                                return false;
                            });

                            // share toggle
                            $("#share").on('click', function (event) {
                                event.preventDefault();
                                $("#b-share-wrapper").toggle();
                                resize();
                                return false;
                            });
                            $("#b-share-wrapper .action__close").on('click', function (event) {
                                event.preventDefault();
                                $("#b-share-wrapper").toggle();
                                resize();
                                return false;
                            });
                    });
                </script>
            </section>
        </section>
        <section class="b-page">
        <section class="b-page-wrapper">
        <section class="b-detail b-detail-page">
        {% block breadcrumbs %}
            <ul class="b-breadcrumbs b-list">
                <li class="b-list-item">
                    <a href="/" class="b-link">Search</a>
                </li>
                <li class="b-list-item separator">
                    <span class="b-link-separator"> > </span>
                </li>
                <li class="b-list-item">
                    <a href="/{% if chpu_url %}{{ chpu_url }}{% else %}#{% endif %}" class="b-link action__goback">{% if categoryTitle %}{{ categoryTitle }}{% else %}{{ object.category }}{% endif %}{% if typeTitle|lower == 'louer' %} a Louer{% elif typeTitle|lower == 'acheter' %}a Acheter{% endif %}</a>
                </li>
                <li class="b-list-item separator">
                    <span class="b-link-separator"> > </span>
                </li>
                <li class="b-list-item state__active">
                    <a class="b-link">{{ object.title }} {% if object.area or object.plot_area %}, {{ object.area }}m<span class="b-super">2</span>{% endif %}</a>
                </li>
            </ul>
        {% endblock %}
        {% block detail_navigation %}
            <ul class="b-detail-navigation b-list">
                <li class="b-list-item action__goback">
                    <a class="b-link" href="{% if chpu_url %}http://www.carbonimmo/{{ chpu_url }}{% else %}#{% endif %}" {% if not chpu_url %}{% endif %}><<
                        Back to
                        list</a>
                </li>
                {% comment %}
                <li class="b-list-item action__next">
                    <a class="b-link" href="#">Next ad >></a>
                </li>
                <li class="b-list-item action__prev">
                    <a class="b-link" href="#"><< Previous ad</a>
                </li>
                {% endcomment %}
            </ul>
        {% endblock %}
        <section class="b-detail-title">
            <hgroup class="b-hgroup">
                <h1 class="b-h1">{% if categoryTitle %}{{ categoryTitle }}{% else %}{{ object.category }}{% endif %}{% if type|lower == 'louer' %} a Louer{% elif type|lower == 'acheter' %} a Acheter{% endif %}{% if object.rooms %}, {{ object.rooms }} pieces,{% endif %} {% if object.area %}{{ object.area }}m<span class="b-super">2</span>,{% endif %}{% if object.plot_area and not object.area %}{{ object.plot_area }}m<span class="b-super">2</span>,{% endif %}{% if object.municipality %} {{ object.municipality|title }}{% else %}VD{% endif %}</h1>
                <h2 class="b-h2">{{ object.title }} {% if object.area or object.plot_area %}, {{ object.area }}m<span class="b-super">2</span>{% endif %}</h2>
            </hgroup>
            <section class="b-map">
                {% if object.address %}<span class="b-map__pointer">{{ object.address|title }} - </span><a href="#" class="b-link action__showmap" id="showmap">Show map</a><a href='#' id="share" class="b-map__share action__share">Share</a>{% endif %}
            </section>
            <section class="b-share-wrapper" id="b-share-wrapper">
                <section class="b-pointer"></section>
                <a href="#" class="action__close"></a>
                <section class="b-share">
                    <section class="share-content-wrapper">
                        <figure class="b-figure">
                            <img height="52" width="71" class="b-img" src="{% if object.get_first_image %}{{ object.get_first_image }}{% else %}{{ STATIC_URL }}images/carbonie-noimage-small.jpg{% endif %}" title="{{ object.title }}" alt="{{ object.title }}" />
                        </figure>
                        <section class="share-content">
                            <p class="b-title">{{ object.title }}</p>
                            <a class="b-link" href="http://www.carbonimmo.ch/detail/{{ object.id|repl }}/">http://www.carbonimmo.ch/detail/{{ object.id|repl }}/</a>
                        </section>
                    </section>
                    <ul class="b-social b-list">
                        <li class="b-list-item facebook">
                            <a class="b-link facebook" href="https://www.facebook.com/sharer/sharer.php?u=http://www.carbonimmo.ch/detail/{{ object.id|repl }}/&summary={{ object.additional_information }}"><span class="b-title">Share through Facebook</span></a>
                        </li>
                        <li class="b-list-item google">
                            <a class="b-link google" href="https://plus.google.com/share?url=http://www.carbonimmo.ch/detail/{{ object.id|repl }}/"><span class="b-title">Share through Google+</span></a>
                        </li>
                    </ul>
                    <section class="b-copy">
                        <p class="b-plaintext">Share this link
                            <input id="copy-from" type="text" class="b-input" value="http://www.carbonimmo.ch/detail/{{ object.id|repl }}/" />
                            <a href="#" data-clipboard-text="http://www.carbonimmo.ch/detail/{{ object.id|repl }}/" id="copy-button" class="b-link action__copy">Copy/ Paste</a>
                            <script src="{{ STATIC_URL }}js/ZeroClipboard.min.js"></script>
                        </p>
                    </section>
                </section>
            </section>
        </section>
        <section class="b-detail-avaliable">
            <section class="b-avaliable-since">
                <p class="b-plaintext">Avaliable since: {% if object.avaliable %}{{ object.avaliable }}{% else %}On demand{% endif %}</p>
            </section>
            <section class="b-reference-carbonimmo">
                <p class="b-plaintext">Reference Carbonimmo: {{ object.id|replacecomma|replacequote }}</p>
            </section>
            {% if object.reference_number %}
                <section class="b-reference">
                    <p class="b-plaintext" value="Reference: {{ object.reference_number }}">Reference: {% if object.reference_number|length < 6 %}{{ object.reference_number }}{% else %}{{ object.reference_number|cut }}<a href='#' class='b-link action__cut'>...</a>{% endif %}</p>
                </section>
            {% endif %}
            <section class="b-applynow">
                <a href="#contacts" class="b-link action__applynow" id="applynow">APPLY NOW</a>
            </section>
        </section>
        <section class="b-detail-info">
        <aside class="b-leftcolumn">
        {% if object.get_benefits %}
            <section class="b-benefits">
                <h2 class="b-h2">Property highlights:</h2>
                {% for item in object.get_benefits %}
                    {% with item|split:":" as data %}
                        <p class="b-row">
                            {% for item in data %}
                                {% if data|length == 1 %}
                                    <span class="b-row-left">{{ item }}</span>
                                    <span class="b-row-right state__checked"></span>
                                {% else %}
                                    {% if forloop.counter == 1 %}
                                        <span class="b-row-left">{{ item }}</span>
                                    {% endif %}
                                    {% if forloop.counter == 2 %}
                                        <span class="b-row-right">{{ item }}</span>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </p>
                    {% endwith %}
                {% endfor %}
            </section>
        {% endif %}
        <section class="b-detail-search">
        <form id="main-form" name="search" method="GET" class="b-form " action="/search/">
        <h2 class="b-h2">Your search:</h2>
        <section class="b-errors">{{ form.errors }}{{ form.non_field_errors }}</section>
        {% comment %}
                            {{ form.type }}
                            {{ form.category }}
                            {{ form.address }}
                            {% endcomment %}
        <section class="b-search-filters collapsed" id="search-filters">
        <section class="b-row">
            <span class="b-label-group">Gross rent <span class="b-small">(CHF)</span></span>
            <p class="b-input-group">
                <label class="b-label b-price-from" for="price">From:&nbsp;
                    <input value="{% if filtersInitial.price_min and not price_min%}{{ filtersInitial.price_min|replacequote }}{% else %}{% if price_min %}{{ price_min }}{% else %}0{% endif %}{% endif %}" id="id_price_min" min="0" name="price_min" type="number" >
                </label>
                <label class="b-label b-price-to" for="price">To:&nbsp;
                    <input value="{% if filtersInitial.price_max and not price_max%}{{ filtersInitial.price_max|replacequote }}{% else %}{% if price_max %}{{ price_max }}{% endif %}{% endif %}" id="id_price_max" min="0" name="price_max" type="number">
                </label>
                <input type="text" id="price_range" />
                <section class="b-spacer"></section>
            </p>
            <script type="text/javascript">
                $(document).ready(function(){
                    $("#price_range").ionRangeSlider({
                        type: "double",
                        min: {% if filtersInitial.price_min %}{{ filtersInitial.price_min|replacequote }}{% else %}0{% endif %},
                        {% if filtersInitial.price_max %}max: {{ filtersInitial.price_max|replacequote }},{% endif %}
                        from: {% if price_min %}{{ price_min }}{% else %}0{% endif %},
                        {% if price_max %}to: {{ price_max }},{% endif %}
                        hide_min_max: true,
                        hide_from_to: true,
                        grid: false,
                        onChange: function (data) {
                            //console.log(data);
                            if ($("#id_price_min").hasClass('state__active')){
                                $("#id_price_min").val(data.from);
                            } else {
                                $("#id_price_min").addClass('state__active');
                                $("#id_price_min").val(data.from);
                            }
                            if ($("#id_price_max").hasClass('state__active')){
                                $("#id_price_max").val(data.to);
                            } else {
                                $("#id_price_max").addClass('state__active');
                                $("#id_price_max").val(data.to);
                            }

                            //console.log('price min change fire');

                            var min_val = $("#id_price_min").val();
                            var min_label = "price from: "+min_val+" CHF";
                            var max_val = $("#id_price_max").val();
                            var max_label = "price to: "+max_val+" CHF";
                            //do we have dom element(tag) in dom or it's initial change?
                            //price_min
                            if (min_val != '0'){
                                if ($("#tag-list .b-tag.price_from").length){
                                    $("#tag-list .b-tag.price_from .b-tag-title").text(min_label);
                                } else {
                                    //apply tag element to dom
                                    var html = '<li class="b-list-item b-tag price price_from"><span class="b-tag-title">'+min_label+'</span><a href="#"'+ 'class="action__remove_tag price price_from"></a></li>';
                                    $("#tag-list").append(html);
                                }
                            } else {
                                $("#id_price_min").val('0');
                                $("#tag-list .b-tag.price_from").remove();
                            }
                            //price_max
                            if (max_val != '0'){
                                if ($("#tag-list .b-tag.price_to").length){
                                    $("#tag-list .b-tag.price_to .b-tag-title").text(max_label);
                                } else {
                                    //apply tag element to dom
                                    var html = '<li class="b-list-item b-tag price price_to"><span class="b-tag-title">'+max_label+'</span><a href="#"'+ 'class="action__remove_tag price price_to"></a></li>';
                                    $("#tag-list").append(html);
                                }
                            } else {
                                $("#id_price_max").val('0');
                                $("#tag-list .b-tag.price_to").remove();
                            }

                        }
                    });

                });
            </script>
        </section>
        <section class="b-row">
            <span class="b-label-group">Area <span class="b-small">(m2)</span></span>
            <p class="b-input-group">
                <label class="b-label b-area-from" for="area">From:&nbsp;
                    <input value="{% if filtersInitial.area_min and not area_min%}{{ filtersInitial.area_min|replacequote }}{% else %}{% if area_min %}{{ area_min }}{% else %}0{% endif %}{% endif %}" id="id_area_min" min="0" name="area_min" type="number" >
                </label>
                <label class="b-label b-area-to" for="area">To:&nbsp;
                    <input value="{% if filtersInitial.area_max and not area_max%}{{ filtersInitial.area_max|replacequote }}{% else %}{% if area_max %}{{ area_max }}{% endif %}{% endif %}" id="id_area_max" min="0" name="area_max" type="number">
                </label>
                <input type="text" id="area_range" />
                <section class="b-spacer"></section>
            </p>
            <script type="text/javascript">
                $(document).ready(function(){
                    $("#area_range").ionRangeSlider({
                        type: "double",
                        min: {% if filtersInitial.area_min %}{{ filtersInitial.area_min|replacequote }}{% else %}0{% endif %},
                        {% if filtersInitial.area_max %}max: {{ filtersInitial.area_max|replacequote }},{% endif %}
                        from: {% if area_min %}{{ area_min }}{% else %}0{% endif %},
                        {% if area_max %}to: {{ area_max }},{% endif %}
                        hide_min_max: true,
                        hide_from_to: true,
                        grid: false,
                        onChange: function (data) {
                            //console.log(data);
                            if ($("#id_area_min").hasClass('state__active')){
                                $("#id_area_min").val(data.from);
                            } else {
                                $("#id_area_min").addClass('state__active');
                                $("#id_area_min").val(data.from);
                            }
                            if ($("#id_area_max").hasClass('state__active')){
                                $("#id_area_max").val(data.to);
                            } else {
                                $("#id_area_max").addClass('state__active');
                                $("#id_area_max").val(data.to);
                            }

                            //console.log('area min change fire');

                            var min_val = $("#id_area_min").val();
                            var min_label = "area from: "+min_val+" m2";
                            var max_val = $("#id_area_max").val();
                            var max_label = "area to: "+max_val+" m2";
                            //do we have dom element(tag) in dom or it's initial change?
                            //area_min
                            if (min_val != '0'){
                                if ($("#tag-list .b-tag.area_from").length){
                                    $("#tag-list .b-tag.area_from .b-tag-title").text(min_label);
                                } else {
                                    //apply tag element to dom
                                    var html = '<li class="b-list-item b-tag area area_from"><span class="b-tag-title">'+min_label+'</span><a href="#"'+ 'class="action__remove_tag area area_from"></a></li>';
                                    $("#tag-list").append(html);
                                }
                            } else {
                                $("#id_area_min").val('0');
                                $("#tag-list .b-tag.area_from").remove();
                            }
                            //area_max
                            if (max_val != '0'){
                                if ($("#tag-list .b-tag.area_to").length){
                                    $("#tag-list .b-tag.area_to .b-tag-title").text(max_label);
                                } else {
                                    //apply tag element to dom
                                    var html = '<li class="b-list-item b-tag area area_to"><span class="b-tag-title">'+max_label+'</span><a href="#"'+ 'class="action__remove_tag area area_to"></a></li>';
                                    $("#tag-list").append(html);
                                }
                            } else {
                                $("#id_area_max").val('0');
                                $("#tag-list .b-tag.area_to").remove();
                            }
                        }
                    });
                });
            </script>
        </section>
        <section class="b-row">
            <span class="b-label-group">Rooms</span>
            <p class="b-input-group">
                <label class="b-label b-rooms-from" for="rooms">From:&nbsp;
                    <input value="{% if filtersInitial.rooms_min and not rooms_min%}{{ filtersInitial.rooms_min|replacequote }}{% else %}{% if rooms_min %}{{ rooms_min }}{% else %}0{% endif %}{% endif %}" id="id_rooms_min" min="0" name="rooms_min" >
                </label>
                <label class="b-label b-rooms-to" for="rooms">To:&nbsp;
                    <input value="{% if filtersInitial.rooms_max and not rooms_max%}{{ filtersInitial.rooms_max|replacequote }}{% else %}{% if rooms_max %}{{ rooms_max }}{% else %}10{% endif %}{% endif %}" id="id_rooms_max" min="0" name="rooms_max" >
                </label>
                <input type="text" id="rooms_range" />
                <section class="b-spacer"></section>
            </p>
            <script type="text/javascript">
                $(document).ready(function(){
                    $("#rooms_range").ionRangeSlider({
                        type: "double",
                        min: {% if filtersInitial.rooms_min %}{{ filtersInitial.rooms_min }}{% else %}0{% endif %},
                        {% if filtersInitial.rooms_max %}max: {{ filtersInitial.rooms_max }},{% endif %}
                        from: {% if rooms_min %}{{ rooms_min }}{% else %}0{% endif %},
                        {% if rooms_max %}to: {{ rooms_max }},{% endif %}
                        hide_min_max: true,
                        hide_from_to: true,
                        grid: false,
                        step: 0.5,
                        onChange: function (data) {
                            //console.log(data);
                            if ($("#id_rooms_min").hasClass('state__active')){
                                $("#id_rooms_min").val(data.from);
                            } else {
                                $("#id_rooms_min").addClass('state__active');
                                $("#id_rooms_min").val(data.from);
                            }
                            if ($("#id_rooms_max").hasClass('state__active')){
                                $("#id_rooms_max").val(data.to);
                            } else {
                                $("#id_rooms_max").addClass('state__active');
                                $("#id_rooms_max").val(data.to);
                            }

                            //console.log('rooms min change fire');

                            var min_val = $("#id_rooms_min").val();
                            var min_label = "rooms from: "+min_val;
                            var max_val = $("#id_rooms_max").val();
                            var max_label = "rooms to: "+max_val;
                            //do we have dom element(tag) in dom or it's initial change?
                            //rooms_min
                            if (min_val != '0'){
                                if ($("#tag-list .b-tag.rooms_from").length){
                                    $("#tag-list .b-tag.rooms_from .b-tag-title").text(min_label);
                                } else {
                                    //apply tag element to dom
                                    var html = '<li class="b-list-item b-tag rooms rooms_from"><span class="b-tag-title">'+min_label+'</span><a href="#"'+ 'class="action__remove_tag rooms rooms_from"></a></li>';
                                    $("#tag-list").append(html);
                                }
                            } else {
                                $("#id_rooms_min").val('0');
                                $("#tag-list .b-tag.rooms_from").remove();
                            }
                            //rooms_max
                            if (max_val != '0'){
                                if ($("#tag-list .b-tag.rooms_to").length){
                                    $("#tag-list .b-tag.rooms_to .b-tag-title").text(max_label);
                                } else {
                                    //apply tag element to dom
                                    var html = '<li class="b-list-item b-tag rooms rooms_to"><span class="b-tag-title">'+max_label+'</span><a href="#"'+ 'class="action__remove_tag rooms rooms_to"></a></li>';
                                    $("#tag-list").append(html);
                                }
                            } else {
                                $("#id_rooms_max").val('0');
                                $("#tag-list .b-tag.rooms_to").remove();
                            }
                        }
                    });
                });
            </script>
        </section>
        <section class="b-row furnished">
            <span class="b-label-group"></span>
            <p class="b-input-group furnished">
                <label class="b-furnished" for="furnished">Furnished:&nbsp;
                    <input type="checkbox" />
                    <span id="checkbox" class="{% if furnished == '1' %}state__checked{% endif %}"></span>
                </label>
            </p>
        </section>
        <section class="b-row b-row-address">
            <span class="b-label-group">Change / Add location:</span>
            <p class="b-input-group address">
                <label class="b-address" for="address">
                    <input class="b-address-input{% if not address %} placeholder{% endif %}" id="address" type="text" value="{% if addressTitle %}{{ addressTitle }}{% else %}{{ object.city }}{% endif %}" name="address" placeholder="{% if not address %}Index, City, Canton{% endif %}" />
                    <input type="submit" class="loop" value="" />
                </label>
            </p>
        </section>
        </section>
        <section class="b-submit-wrapper">
            <input class="b-submit collapsed" type="submit" value="Change Search" id="changesearch" />
        </section>
        <section class="b-detail-tags">
            <ul class="b-detail-search-tags b-tags b-list" id="tag-list">
                <li class="b-list-icon" id="tag-icon"></li>
                {% if tags %}
                    {% if tags.address %}
                        {% for tag in tags.address %}
                            <li class="b-list-item b-tag address">
                                <span class="b-tag-title" tag="{{ tag|lower }}">{{ tag }}</span><a href="#" class="action__remove_tag address"></a>
                            </li>
                        {% endfor %}
                    {% endif %}
                    {% if tags.price %}
                        {% if tags.price.from %}
                            <li class="b-list-item b-tag price price_from">
                                <span class="b-tag-title" tag="{{ tags.price.from }}">price from: {{ tags.price.from }} CHF</span><a href="#" class="action__remove_tag price price_from"></a>
                            </li>
                        {% endif %}
                        {% if tags.price.to %}
                            <li class="b-list-item b-tag price price_to">
                                <span class="b-tag-title" tag="{{ tags.price.to }}">price to: {{ tags.price.to }} CHF</span><a href="#" class="action__remove_tag price price_to"></a>
                            </li>
                        {% endif %}
                    {% endif %}
                    {% if tags.area %}
                        {% if tags.area.from %}
                            <li class="b-list-item b-tag area area_from">
                                <span class="b-tag-title" tag="{{tags.area.from }}">area from: {{ tags.area.from }} m2</span><a href="#" class="action__remove_tag area area_from"></a>
                            </li>
                        {% endif %}
                        {% if tags.area.to %}
                            <li class="b-list-item b-tag area area_to">
                                <span class="b-tag-title" tag="{{ tags.area.to }}">area to: {{ tags.area.to }} m2</span><a href="#" class="action__remove_tag area area_to"></a>
                            </li>
                        {% endif %}
                    {% endif %}
                    {% if tags.rooms %}
                        {% if tags.rooms.from %}
                            <li class="b-list-item b-tag rooms rooms_from">
                                <span class="b-tag-title" tag="{{tags.rooms.from }}">rooms from: {{ tags.rooms.from }}</span><a href="#" class="action__remove_tag rooms rooms_from"></a>
                            </li>
                        {% endif %}
                        {% if tags.rooms.to %}
                            <li class="b-list-item b-tag rooms rooms_to">
                                <span class="b-tag-title" tag="{{ tags.rooms.to }}">rooms to: {{ tags.rooms.to }}</span><a href="#" class="action__remove_tag rooms rooms_to"></a>
                            </li>
                        {% endif %}
                    {% endif %}
                    {% if tags.furnished %}
                        <li class="b-list-item b-tag furnished">
                            <span class="b-tag-title" tag="furnished">furnished</span><a href="#" class="action__remove_tag furnished"></a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
        </section>
        <input type="hidden" name="type" value="{% if type %}{{ type|lower }}{% endif %}" />
        <input type="hidden" name="category" value="{% if categoryTitle %}{{ categoryTitle }}{% else %}{{ object.category }}{% endif %}" />
        <input type="hidden" id="furnished" name="furnished" value="{% if furnished == '1' or furnished == 1 %}1{% else %}0{% endif %}" />
        <input type="hidden" id="order_field" name="order_field" value="{% if order_field %}{{ order_field }}{% else %}date{% endif %}" />
        <input type="hidden" id="order_direction" name="order_direction" value="{% if order_direction %}{{ order_direction }}{% else %}desc{% endif %}" />
        <input type="hidden" id="perpage" name="perpage" value="{% if perpage %}{{ perpage }}{% else %}30{% endif %}" />
        <input type="hidden" name="page" value="{% if page %}{{ page }}{% else %}1{% endif %}" />
        {% csrf_token %}
        </form>
        </section>
        {% comment %}
            <section class="b-detail-search">
                <h2 class="b-h2">Your search:</h2>
                <section class="b-detail-tags">
                    <ul class="b-detail-search-tags b-list">
                        <li class="b-list-icon"></li>
                        <li class="b-list-item">
                            <span class="b-tag-title">Lausanne</span><a href="#" class="action__remove_tag"></a>
                        </li>
                        <li class="b-list-item">
                            <span class="b-tag-title">Nyon</span><a href="#" class="action__remove_tag"></a>
                        </li>
                    </ul>
                </section>
                <form class="b-detail-search-form">
                    <section class="b-submit-wrapper">
                        <input class="b-submit" type="submit" value="Change Search" />
                    </section>
                </form>
            </section>
            {% endcomment %}
        {% if visited_items %}
            <section class="b-visited-items">
                <h2 class="b-h2">Your last items</h2>
                <ul class="b-list">
                    {% for item in visited_items %}
                        <li class="b-list-item {% if forloop.last %} position__last{% endif %}">
                            <section class="b-list-item__content">
                                <p class="b-title">
                                    <a href="/detail/{{ item.id|repl }}" class="b-link">{% if item.title %}{{ item.title|truncatechars:34 }}{% else %} Not provided{% endif %}</a><a href="{{ item.id|repl }}" class="action__remove"></a>
                                </p>
                                <figure class="b-figure">
                                    <section class="b-img-wrapper">
                                        {% if item.get_first_image %}
                                            <img width="118" height="78" class="b-img" src="{{ item.get_first_image }}" />
                                        {% else %}
                                            <img width="118" height="78" class="b-img" src="{{ STATIC_URL }}images/carbonie-noimage-small.jpg" />
                                        {% endif %}
                                    </section>
                                    <p class="b-avaliable-since">{% if item.avaliable %}{{ item.avaliable }}{% else %}On demand{% endif %}</p>
                                </figure>
                                <section class="b-content">
                                    <p class="b-address">{% if item.address %}{{ item.address }}{% else %}Not provided{% endif %}</p>
                                    <p class="b-price">{% if item.price %}CHF {{ item.price|replacecomma }}{% else %}On demand{% endif %}</p>
                                    {% if item.price %}<p class="b-period">Month</p>{% endif %}
                                    {% comment %}
                                    <form class="b-form" method="get" action="/detail/{{ item.id }}/">
                                        <input class="b-sumbit b-applynow" type="submit" value="Apply Now" />
                                    </form>
                                    {% endcomment %}
                                    <div class="b-form" method="get" action="/detail/{{ item.id|repl }}/">
                                        <a class="b-link" href="/detail/{{ item.id|repl }}/">
                                            <span class="b-sumbit b-applynow">Apply&nbsp;Now</span>
                                        </a>
                                    </div>
                                </section>
                            </section>
                        </li>
                    {% endfor %}
                </ul>
            </section>
            <script type="text/javascript">
                $(document).ready(function(){

                    if ($('.b-visited-items').length) {
                        $(".b-list-item a.action__remove").on('click', function (event) {
                            event.preventDefault();
                            var domNode = $(this).parent().parent().parent();
                            var id = $(this).attr('href');
                            var urlString = '/visited-remove/'+id+'/';
                            // do the post request to remove item from reqeust.session
                            $.ajax({
                                url: urlString,
                                csrfmiddlewaretoken: '{{ csrf_token }}'
                            }).done(function() {
                                // and remove html dom entry
                                domNode.remove();
                                // check for position:last
                                if ($(".b-visited-items .b-list-item").length) {
                                    if ($(".b-visited-items .b-list-item:last").hasClass('position__last')) {
                                    } else {
                                        $(".b-visited-items .b-list-item:last").toggleClass('position__last');
                                    }
                                } else {
                                    $(".b-visited-items").remove();
                                }
                            });
                            return false;
                        });
                    }
                    //toggle placeholder
                    $(".b-search .b-label input").on('focus', function(event){
                        event.preventDefault();
                        $(this).addClass('state__active');
                        return false;
                    });

                    //checkbox
                    $("#checkbox").on('click', function(event){
                        event.preventDefault();
                        $(this).toggleClass('state__checked');
                        var furnished = $("#checkbox").val();
                        if ($(this).hasClass('state__checked')){
                            $("#furnished").val('1');
                            var html = '<li class="b-list-item b-tag furnished"><span class="b-tag-title" tag="furnished">furnished</span><a href="#" class="action__remove_tag furnished"></a></li>'
                            $("#tag-list").append(html);
                        } else {
                            $("#tag-list .b-tag.furnished").remove();
                            $("#furnished").val('0');
                        }
                        return false;
                    });

                    //filters asc desc
                    $(".b-order-buttons .b-button").on('click', function(event){
                        event.preventDefault();
                        var order_field = $(this).find('.b-plaintext').text().toLowerCase().replace(/ /g,'');
                        var order_direction = 'desc';
                        // remove all order classes if no filter is active
                        if ($(this).hasClass("state__active")){
                            if ($(this).hasClass("order__desc")){
                                order_direction = 'asc';
                                $(this).toggleClass("order__desc").toggleClass("order__asc");
                            }
                            else if ($(this).hasClass("order__asc")){
                                $(this).toggleClass("order__desc").toggleClass("order__asc");
                            } else {
                                $(this).toggleClass("order__desc");
                            }
                            $("#order_field").val(order_field);
                            $("#order_direction").val(order_direction);

                        } else {
                            $(".b-order-buttons .b-button").removeClass('order__desc').removeClass('order__asc').removeClass('state__active');
                            $(this).toggleClass('state__active').toggleClass("order__desc");

                            $("#order_field").val(order_field);
                            $("#order_direction").val(order_direction);
                        }

                        //submit form
                        $("#main-form").submit();
                        return false;
                    });

                    // per page
                    $(".b-per-page .b-link").on('click', function(event){
                        event.preventDefault();
                        $(".b-per-page .b-list-item.state__active").removeClass("state__active");
                        $(this).parent().toggleClass('state__active');
                        $("#perpage").val($(this).text());
                        //submit form
                        $("#main-form").submit();
                        return false;
                    });

                    //update range sliders on input change
                    //price
                    $("#id_price_min").change(function(){
                        console.log('price min change fire');
                        if (typeof rooms_slider !== 'undefined') {
                            price_slider.update({'from': $(this).val()});
                            //console.log('price min change fire');
                        } else {
                            var price_slider = $("#price_range").data("ionRangeSlider");
                            price_slider.update({'from': $(this).val()});
                            //console.log('price min change fire');
                        }

                    });
                    $("#id_price_max").change(function(){
                        if (typeof price_slider !== 'undefined') {
                            price_slider.update({'to': $(this).val()});
                        } else {
                            var price_slider = $("#price_range").data("ionRangeSlider");
                            price_slider.update({'to': $(this).val()});
                        }
                    });
                    //area
                    $("#id_area_min").change(function(){
                        if (typeof area_slider !== 'undefined') {
                            area_slider.update({'from': $(this).val()});
                        } else {
                            var area_slider = $("#area_range").data("ionRangeSlider");
                            area_slider.update({'from': $(this).val()});
                        }
                    });
                    $("#id_area_max").change(function(){
                        if (typeof area_slider != 'undefined') {
                            area_slider.update({'to': $(this).val()});
                        } else {
                            var area_slider = $("#area_range").data("ionRangeSlider");
                            area_slider.update({'to': $(this).val()});
                        }
                    });
                    //rooms
                    $("#id_rooms_min").change(function(){
                        if (typeof rooms_slider != 'undefined') {
                            rooms_slider.update({'from': $(this).val()});
                        } else {
                            var rooms_slider = $("#rooms_range").data("ionRangeSlider");
                            rooms_slider.update({'from': $(this).val()});
                        }
                    });
                    $("#id_rooms_max").change(function(){
                        if (typeof rooms_slider != 'undefined') {
                            rooms_slider.update({'to': $(this).val()});
                        } else {
                            var rooms_slider = $("#rooms_range").data("ionRangeSlider");
                            rooms_slider.update({'to': $(this).val()});
                        }
                    });
                });
            </script>
        {% endif %}
        </aside>
        <section class="b-rightcolumn">
        {% if object.images|length > 4 %}
            <figure class="b-photo" id="photo">
                <section class="b-img-wrapper">
                    <img height="405" class="b-img" src="{{ object.get_first_image }}" />
                </section>
                {% if object.price %}
                    <span class="b-price">{% if object.price %}CHF {{ object.price|replacecomma }}.-/ Month{% else %}Price on request{% endif %}</span>
                {% endif %}
            </figure>
            <section class="b-thumbs">
                {% if object.images %}
                    {% for item in object.get_images %}
                        <a href="#" class="b-link action__setphoto{% if forloop.counter == 1 %} state__active{% endif %}">
                            <img width="40" height="40" class="b-img b-thumb" src="{{ item }}" />
                        </a>
                    {% endfor %}
                {% endif %}
            </section>
        {% else %}
            <figure class="b-photo" id="photo">
                <section class="b-img-wrapper">
                    <img class="b-img noimage" src="{{ STATIC_URL }}images/carbonie-noimage.png" />
                </section>
                {% if object.price %}
                    <span class="b-price">{% if object.price %}CHF {{ object.price|replacecomma }}.-/ Month{% else %}Price on request{% endif %}</span>
                {% endif %}
            </figure>
        {% endif %}
        {% if object.get_surroundings %}
            <section class="b-reasons">
                <h2 class="b-h2">5 reasons to choose this apartment</h2>
                <ul class="b-list">
                    {% for item in object.get_surroundings %}
                        {% if forloop.counter < 6 %}
                            <li class="b-list-item{% if forloop.last %} position__last{% endif %}">
                                {% with item|split:":" as data %}
                                    {% for item in data %}
                                        {% if data|length == 1 %}
                                            <p class="b-title">{{ item|fr }}</p>
                                        {% else %}
                                            {% if forloop.counter == 1 %}
                                                <p class="b-title">{{ item|fr }}:</p>
                                            {% endif %}
                                            {% if forloop.counter == 2 %}
                                                <p class="b-value">{{ item|fr }}</p>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% endwith %}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </section>
        {% endif %}
        {% if object.price or object.rent_net or object.extra_charges %}
            <section class="b-rent">
                <h2 class="b-h2">Monthly rent:</h2>
                <section class="b-rent-content">
                    {% if object.rent_net %}
                        <p class="b-row">
                            <span class="b-title">Rent net:</span>
                            <span class="b-value">CHF {{ object.rent_net|replacecomma }}.-/ Month</span>
                        </p>
                    {% endif %}
                    {% if object.extra_charges %}
                        <p class="b-row">
                            <span class="b-title">Extra charges:</span>
                            <span class="b-value">CHF {{ object.extra_charges|replacecomma }}.-/ Month</span>
                        </p>
                    {% endif %}
                    {% if object.price %}
                        <p class="b-row">
                            <span class="b-title">Rent gross:</span>
                            <span class="b-value">CHF {{ object.price|replacecomma }}.-/ Month</span>
                        </p>
                    {% endif %}
                </section>
            </section>
        {% endif %}
        {% if object.additional_information %}
            <section class="b-additional-information">
                <h2 class="b-h2">Description:</h2>
                <section class="b-additional-information-content">{{ object.additional_information }}</section>
            </section>
            <section class="b-banner">
                <a href="http://www.carbonie.ch/" class="b-link">
                    <img width="633" height="85" class="b-img" src="{{ STATIC_URL }}images/carbonie-banner.gif" alt="www.carbonie.ch" title="Carbonie
                    Demenagement" />
                </a>
            </section>
        {% endif %}
        {% block contacts %}
            <a name="contacts" class="b-link b-anchor"></a>
            {% if object.agency_site_image or object.provider_name or object.provider_address|length > 5 or object.contact_summary|length > 5 %}
                <section class="b-contact">
                    <h2 class="b-h2">Contacts</h2>
                    <section class="b-contact-content">
                        <figure class="b-figure">
                            <div class="b-img-wrapper">
                                {% if object.agency_site_image %}
                                    <img class="b-img" src="{{ object.agency_site_image }}" />
                                {% else %}
                                    <img class="b-img noimage" src="{{ STATIC_URL }}images/noimage-transparent.png" />
                                {% endif %}
                            </div>
                        </figure>
                        <section class="b-content">
                            <p class="b-title">Providers contact address</p>
                            <section class="b-left">
                                <p class="b-plaintext">{% if object.provider_name %}{{ object.get_provider }}{% else %}Not provided{% endif %}</p>
                                {% if object.agency_site %}<a href="http://{{ object.agency_site }}" class="b-link">
                                    <img height="35" width="36" class="b-img" src="{{ STATIC_URL }}images/link-icon.png" />
                                    </a>{% endif %}
                            </section>
                            <section class="b-right">
                                <p class="b-value">{% if object.provider_address|length > 5 %}{{ object.get_provider_address }}{% else %}{% endif %}<br /> {% if object.provider_address|length > 5 %}{{ object.get_provider_postcode }}{% else %}{% endif %} <br />{% if object.provider_address|length > 5 and object.provider_tel %}Telephone: <span class='b-hidephone'>{{ object.provider_tel }}</span>{% else %}{% endif %} <br />{% if object.provider_address|length > 5 and object.provider_tel %}Fax: <span class='b-hidephone'>{{ object.provider_tel }}</span>{% else %}{% endif %}</p>
                            </section>
                        </section>
                        <section class="b-contact-info-wrapper">
                            {% if object.contact_summary %}
                                <section class="b-contact-info">
                                    <p class="b-title">Contact for viewing</p>
                                    <p class="b-value">{{ object.get_contact_name }}
                                        {% if object.get_contact_phone %}<br />Telephone: <span class='b-hidephone'>{{ object.get_contact_phone }}</span>{% endif %}</p>
                                </section>
                            {% endif %}
                            {% if object.link or object.agency_link %}
                                <section class="b-contact-info-links">
                                    {% if object.anibis_url %}
                                        <a href="{{ object.anibis_url }}" class="b-link">Original listing</a>
                                    {% else %}
                                        {% if object.link %}
                                            <a href="{{ object.link }}" class="b-link">Original listing</a>
                                        {% endif %}
                                    {% endif %}
                                    {% if agency.link %}
                                        <a href="{{ object.agency_link }}" class="b-link">Other properties by this seller</a>
                                    {% endif %}
                                </section>
                            {% endif %}
                        </section>
                    </section>
                </section>
            {% endif %}
        {% endblock %}
        <section class="b-location">
            <h2 class="b-h2">The location of appartment</h2>
            <section class="b-location-content">
                <section class="b-map" id="gmap"></section>
                <script type="text/javascript">
                    $(document).ready(function(){
                        $(".b-hidephone").each(function(){
                            var number = $(this).text();
                            var trunc = number.substr(0,10);
                            $(this).text(trunc+'...').attr('number',number);
                            $(this).append($("<a href='#' class='b-link action__shownumber'>Show number</a>"));
                        });
                        $(".b-hidephone").on('click', '.action__shownumber', function(event){
                            event.preventDefault;
                            var number = $(this).parent().attr('number');
                            $(this).parent().text(number);
                            $(this).remove();
                            return false;
                        });
                        {% if object.map %}
                            function resize(){
                                var mapmodal;
                                var mapmodalmapOptions = {zoom: 11,center: new google.maps.LatLng({{ object.map }})};
                                mapmodal = new google.maps.Map(document.getElementById('modal-map'), mapmodalmapOptions);
                                google.maps.event.trigger(mapmodal, 'resize');
                            }
                            var map;
                            var mapOptions = {
                                    zoom: 11,
                                    center: new google.maps.LatLng({{ object.map }})
                                };
                            map = new google.maps.Map(document.getElementById('gmap'), mapOptions);

                            function initialize() {
                                var ObjectCoords = new google.maps.LatLng({{ object.map }});
                                var marker = new google.maps.Marker({
                                    position:ObjectCoords,
                                    map: map,
                                    title: '{{ object.address }}'
                                });
                                var infowindow = new google.maps.InfoWindow({
                                    content: contentString
                                });
                                google.maps.event.addListener(marker, 'click', function() {
                                    infowindow.open(map,marker);
                                });

                                //google.maps.event.addListenerOnce(map, 'idle', function() {
                                //    google.maps.event.trigger(map, 'resize');
                                //});
                                infowindow.open(map,marker);

                                var contentString = '<div id="map-content">'+
                                    '<h2>{{ object.address }}</h2>'+
                                    '<p>{{ object.title }}</p>'+
                                    '</div>';

                                var infowindow = new google.maps.InfoWindow({
                                    content: contentString
                                });
                                google.maps.event.addListener(marker, 'click', function() {
                                    infowindow.open(map,marker);
                                });

                                //google.maps.event.addListenerOnce(map, 'idle', function() {
                                //    google.maps.event.trigger(map, 'resize');
                                //});
                                infowindow.open(map,marker);
                            }

                            google.maps.event.addDomListener(window, 'load', initialize);

                        {% endif %}

                    });
                </script>
            </section>
        </section>
        </section>
        </section>
        </section>
        </section>
        </section>
    {% else %}
        <section class="b-detail b-detail-page">
            <section class="b-detail-title">
                <hgroup class="b-hgroup">
                    <h1 class="b-h1">This ad has beed expired!</h1>
                </hgroup>
            </section>
        </section>
    {% endif %}
{% endblock %}