{% extends 'base.html' %}
{% load front_tags %}
{% block canonical_link %}
    {% if canonicalLink|length > 5 %}<link rel="canonical" href="http://www.carbonimmo.ch/{{ canonicalLink }}" />{% endif %}
{% endblock %}
{% block meta %}
    <meta name="keywords" property="og:keywords" content="{% if categoryTitle %}{{ categoryTitle }}{% endif %}{% if type|lower == 'louer' %}a Louer {% endif %}{% if type|lower == 'acheter' %}a Vendre {% endif %}{% if addressTitle %} a {{ addressTitle }}{% endif %}">
    <meta name="title" property="og:title" content="{% if categoryTitle %}{{ categoryTitleTitle }}{% endif %}{% if type|lower == 'louer' %}a Louer {% endif %}{% if type|lower == 'acheter' %}a Vendre {% endif %}{% if addressTitle %} a {{ addressTitle }}{% endif %}">
    <meta name="url" property="og:url" content="{{ page_url }}">
    <meta name="description" property="og:description" content="{{ object.additional_information }}">
{% endblock %}
{% block title %}{% if categoryTitle %}{{ categoryTitle }}{% endif %}{% if type|lower == 'louer' %} a Louer{% elif type|lower == 'acheter' %} a Vendre{% endif %}{% if addressTitle %} a {{ addressTitle }}{% endif %}{% endblock %}
{% block js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ion.rangeSlider.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/application.js"></script>
{% endblock %}
{% block content %}
    {% block search%}
        <section class="b-search b-page-search">
        {% block breadcrumbs %}
            <ul class="b-breadcrumbs b-list">
                <li class="b-list-item">
                    <a href="/" class="b-link">Search</a>
                </li>
                <li class="b-list-item separator">
                    <span class="b-link-separator"> > </span>
                </li>
                <li class="b-list-item state__active">
                    <a class="b-link">{% if categoryTitle %}{{ categoryTitle }}{% endif %}{% if type|lower == 'louer' %} a Louer{% elif type|lower == 'acheter' %} a Vendre{% endif %}{% if addressTitle %} a {{ addressTitle }}{% endif %}</a>
                </li>
            </ul>
        {% endblock %}
        <section class="b-search-content">
        <aside class="b-detail-search">
        <form id="main-form" name="search" method="GET" class="b-form" action="/search/">
        <h2 class="b-h2">Your search:</h2>
        {% comment %}<section class="b-errors">{{ form.errors }}{{ form.non_field_errors }}</section>
        {% comment %}
                        {{ form.type }}
                        {{ form.category }}
                        {{ form.address }}
                        {% endcomment %}
        <section class="b-search-filters">
        <section class="b-row">
            <span class="b-label-group">Gross rent <span class="b-small">(CHF)</span></span>
            <p class="b-input-group">
                <label class="b-label b-price-from" for="price">From:&nbsp;
                    <input value="{% if filtersInitial.price_min and not price_min%}{{ filtersInitial.price_min|replacequote }}{% else %}{% if price_min %}{{ price_min|replacequote }}{% else %}0{% endif %}{% endif %}" id="id_price_min" min="0" name="price_min" type="number" >
                </label>
                <label class="b-label b-price-to" for="price">To:&nbsp;
                    <input value="{% if filtersInitial.price_max and not price_max%}{{ filtersInitial.price_max|replacequote }}{% else %}{% if price_max %}{{ price_max|replacequote }}{% endif %}{% endif %}" id="id_price_max" min="0" name="price_max" type="number">
                </label>
                <input type="text" id="price_range" />
                <section class="b-spacer"></section>
            </p>
            <script type="text/javascript">
                $(document).ready(function(){
                    $("#price_range").ionRangeSlider({
                        type: "double",
                        min: {% if filtersInitial.price_min %}{{ filtersInitial.price_min|replacequote }}{% else %}0{% endif %},
                        {% if filtersInitial.price_max %}max: {{ filtersInitial.price_max|replacequote }},{% endif %}
                        from: {% if price_min %}{{ price_min|replacequote }}{% else %}0{% endif %},
                        {% if price_max %}to: {{ price_max|replacequote }},{% endif %}
                        hide_min_max: true,
                        hide_from_to: true,
                        step: 100,
                        grid: false,
                        onChange: function (data) {
                            //console.log(data);
                            if ($("#id_price_min").hasClass('state__active')){
                                $("#id_price_min").val(data.from);
                            } else {
                                $("#id_price_min").addClass('state__active');
                                $("#id_price_min").val(data.from);
                            }
                            if ($("#id_price_max").hasClass('state__active')){
                                $("#id_price_max").val(data.to);
                            } else {
                                $("#id_price_max").addClass('state__active');
                                $("#id_price_max").val(data.to);
                            }

                            //console.log('price min change fire');

                            var min_val = $("#id_price_min").val();
                            var min_label = "price from: "+min_val+" CHF";
                            var max_val = $("#id_price_max").val();
                            var max_label = "price to: "+max_val+" CHF";
                            //do we have dom element(tag) in dom or it's initial change?
                            //price_min
                            if (min_val != '0'){
                                if ($("#tag-list .b-tag.price_from").length){
                                    $("#tag-list .b-tag.price_from .b-tag-title").text(min_label);
                                } else {
                                    //apply tag element to dom
                                    var html = '<li class="b-list-item b-tag price price_from"><span class="b-tag-title">'+min_label+'</span><a href="#"'+ 'class="action__remove_tag price price_from"></a></li>';
                                    $("#tag-list").append(html);
                                }
                            } else {
                                $("#id_price_min").val('0');
                                $("#tag-list .b-tag.price_from").remove();
                            }
                            //price_max
                            if (max_val != '0'){
                                if ($("#tag-list .b-tag.price_to").length){
                                    $("#tag-list .b-tag.price_to .b-tag-title").text(max_label);
                                } else {
                                    //apply tag element to dom
                                    var html = '<li class="b-list-item b-tag price price_to"><span class="b-tag-title">'+max_label+'</span><a href="#"'+ 'class="action__remove_tag price price_to"></a></li>';
                                    $("#tag-list").append(html);
                                }
                            } else {
                                $("#id_price_max").val('0');
                                $("#tag-list .b-tag.price_to").remove();
                            }

                        }
                    });

                });
            </script>
        </section>
        <section class="b-row">
            <span class="b-label-group">Area <span class="b-small">(m2)</span></span>
            <p class="b-input-group">
                <label class="b-label b-area-from" for="area">From:&nbsp;
                    <input value="{% if filtersInitial.area_min and not area_min%}{{ filtersInitial.area_min|replacequote }}{% else %}{% if area_min %}{{ area_min }}{% else %}0{% endif %}{% endif %}" id="id_area_min" min="0" name="area_min" type="number" >
                </label>
                <label class="b-label b-area-to" for="area">To:&nbsp;
                    <input value="{% if filtersInitial.area_max and not area_max%}{{ filtersInitial.area_max|replacequote }}{% else %}{% if area_max %}{{ area_max }}{% endif %}{% endif %}" id="id_area_max" min="0" name="area_max" type="number">
                </label>
                <input type="text" id="area_range" />
                <section class="b-spacer"></section>
            </p>
            <script type="text/javascript">
                $(document).ready(function(){
                    $("#area_range").ionRangeSlider({
                        type: "double",
                        min: {% if filtersInitial.area_min %}{{ filtersInitial.area_min|replacequote }}{% else %}0{% endif %},
                        {% if filtersInitial.area_max %}max: {{ filtersInitial.area_max|replacequote }},{% endif %}
                        from: {% if area_min %}{{ area_min|replacequote }}{% else %}0{% endif %},
                        {% if area_max %}to: {{ area_max|replacequote }},{% endif %}
                        hide_min_max: true,
                        hide_from_to: true,
                        grid: false,
                        onChange: function (data) {
                            //console.log(data);
                            if ($("#id_area_min").hasClass('state__active')){
                                $("#id_area_min").val(data.from);
                            } else {
                                $("#id_area_min").addClass('state__active');
                                $("#id_area_min").val(data.from);
                            }
                            if ($("#id_area_max").hasClass('state__active')){
                                $("#id_area_max").val(data.to);
                            } else {
                                $("#id_area_max").addClass('state__active');
                                $("#id_area_max").val(data.to);
                            }

                            //console.log('area min change fire');

                            var min_val = $("#id_area_min").val();
                            var min_label = "area from: "+min_val+" m2";
                            var max_val = $("#id_area_max").val();
                            var max_label = "area to: "+max_val+" m2";
                            //do we have dom element(tag) in dom or it's initial change?
                            //area_min
                            if (min_val != '0'){
                                if ($("#tag-list .b-tag.area_from").length){
                                    $("#tag-list .b-tag.area_from .b-tag-title").text(min_label);
                                } else {
                                    //apply tag element to dom
                                    var html = '<li class="b-list-item b-tag area area_from"><span class="b-tag-title">'+min_label+'</span><a href="#"'+ 'class="action__remove_tag area area_from"></a></li>';
                                    $("#tag-list").append(html);
                                }
                            } else {
                                $("#id_area_min").val('0');
                                $("#tag-list .b-tag.area_from").remove();
                            }
                            //area_max
                            if (max_val != '0'){
                                if ($("#tag-list .b-tag.area_to").length){
                                    $("#tag-list .b-tag.area_to .b-tag-title").text(max_label);
                                } else {
                                    //apply tag element to dom
                                    var html = '<li class="b-list-item b-tag area area_to"><span class="b-tag-title">'+max_label+'</span><a href="#"'+ 'class="action__remove_tag area area_to"></a></li>';
                                    $("#tag-list").append(html);
                                }
                            } else {
                                $("#id_area_max").val('0');
                                $("#tag-list .b-tag.area_to").remove();
                            }
                        }
                    });
                });
            </script>
        </section>
        <section class="b-row">
            <span class="b-label-group">Rooms</span>
            <p class="b-input-group">
                <label class="b-label b-rooms-from" for="rooms">From:&nbsp;
                    <input value="{% if filtersInitial.rooms_min and not rooms_min%}{{ filtersInitial.rooms_min|replacequote }}{% else %}{% if rooms_min %}{{ rooms_min }}{% else %}0{% endif %}{% endif %}" id="id_rooms_min" min="0" name="rooms_min" >
                </label>
                <label class="b-label b-rooms-to" for="rooms">To:&nbsp;
                    <input value="{% if filtersInitial.rooms_max and not rooms_max%}{{ filtersInitial.rooms_max|replacequote }}{% else %}{% if rooms_max %}{{ rooms_max|replacequote }}{% else %}{% endif %}{% endif %}" id="id_rooms_max" min="0" name="rooms_max" >
                </label>
                <input type="text" id="rooms_range" />
                <section class="b-spacer"></section>
            </p>
            <script type="text/javascript">
                $(document).ready(function(){
                    $("#rooms_range").ionRangeSlider({
                        type: "double",
                        min: {% if filtersInitial.rooms_min %}{{ filtersInitial.rooms_min|replacequote }}{% else %}0{% endif %},
                        {% if filtersInitial.rooms_max %}max: {{ filtersInitial.rooms_max|replacequote }},{% endif %}
                        from: {% if rooms_min %}{{ rooms_min|replacequote  }}{% else %}0{% endif %},
                        {% if rooms_max %}to: {{ rooms_max|replacequote }},{% endif %}
                        hide_min_max: true,
                        hide_from_to: true,
                        grid: false,
                        step: 0.5,
                        onChange: function (data) {
                            //console.log(data);
                            if ($("#id_rooms_min").hasClass('state__active')){
                                $("#id_rooms_min").val(data.from);
                            } else {
                                $("#id_rooms_min").addClass('state__active');
                                $("#id_rooms_min").val(data.from);
                            }
                            if ($("#id_rooms_max").hasClass('state__active')){
                                $("#id_rooms_max").val(data.to);
                            } else {
                                $("#id_rooms_max").addClass('state__active');
                                $("#id_rooms_max").val(data.to);
                            }

                            //console.log('rooms min change fire');

                            var min_val = $("#id_rooms_min").val();
                            var min_label = "rooms from: "+min_val;
                            var max_val = $("#id_rooms_max").val();
                            var max_label = "rooms to: "+max_val;
                            //do we have dom element(tag) in dom or it's initial change?
                            //rooms_min
                            if (min_val != '0'){
                                if ($("#tag-list .b-tag.rooms_from").length){
                                    $("#tag-list .b-tag.rooms_from .b-tag-title").text(min_label);
                                } else {
                                    //apply tag element to dom
                                    var html = '<li class="b-list-item b-tag rooms rooms_from"><span class="b-tag-title">'+min_label+'</span><a href="#"'+ 'class="action__remove_tag rooms rooms_from"></a></li>';
                                    $("#tag-list").append(html);
                                }
                            } else {
                                $("#id_rooms_min").val('0');
                                $("#tag-list .b-tag.rooms_from").remove();
                            }
                            //rooms_max
                            if (max_val != '0'){
                                if ($("#tag-list .b-tag.rooms_to").length){
                                    $("#tag-list .b-tag.rooms_to .b-tag-title").text(max_label);
                                } else {
                                    //apply tag element to dom
                                    var html = '<li class="b-list-item b-tag rooms rooms_to"><span class="b-tag-title">'+max_label+'</span><a href="#"'+ 'class="action__remove_tag rooms rooms_to"></a></li>';
                                    $("#tag-list").append(html);
                                }
                            } else {
                                $("#id_rooms_max").val('0');
                                $("#tag-list .b-tag.rooms_to").remove();
                            }
                        }
                    });
                });
            </script>
        </section>
        <section class="b-row furnished">
            <span class="b-label-group"></span>
            <p class="b-input-group furnished">
                <label class="b-furnished" for="furnished">Furnished:&nbsp;
                    <input type="checkbox" />
                    <span id="checkbox" class="{% if furnished == 1 or furnished == '1' %}state__checked{% endif %}"></span>
                </label>
            </p>
        </section>
        <section class="b-row b-row-address">
            <span class="b-label-group">Change / Add location:</span>
            <p class="b-input-group address">
                <label class="b-address" for="address">
                    <input class="b-address-input{% if not address %} placeholder{% endif %}" id="address" type="text" value="{% if addressTitle %}{{ addressTitle }}{% endif %}" name="address" placeholder="{% if not address %}Index, City, Canton{% endif %}" />
                    <input type="submit" class="loop" value="" />
                </label>
            </p>
        </section>
        </section>
        <section class="b-submit-wrapper">
            <input class="b-submit" type="submit" value="Search" id="submit" />
        </section>
        <section class="b-detail-tags">
            <ul class="b-detail-search-tags b-tags b-list" id="tag-list">
                <li class="b-list-icon" id="tag-icon"></li>
                {% if tags %}
                    {% if tags.address %}
                        {% for tag in tags.address %}
                            <li class="b-list-item b-tag address">
                                <span class="b-tag-title" tag="{{ tag|lower }}">{{ tag|title }}</span><a href="#" class="action__remove_tag address"></a>
                            </li>
                        {% endfor %}
                    {% endif %}
                    {% if tags.price %}
                        {% if tags.price.min %}
                            <li class="b-list-item b-tag price price_from">
                                <span class="b-tag-title" tag="{{ tags.price.min }}">price from: {{ tags.price.min }} CHF</span><a href="#" class="action__remove_tag price price_from"></a>
                            </li>
                        {% endif %}
                        {% if tags.price.max %}
                            <li class="b-list-item b-tag price price_to">
                                <span class="b-tag-title" tag="{{ tags.price.max }}">price to: {{ tags.price.max }} CHF</span><a href="#" class="action__remove_tag price price_to"></a>
                            </li>
                        {% endif %}
                    {% endif %}
                    {% if tags.area %}
                        {% if tags.area.min %}
                            <li class="b-list-item b-tag area area_from">
                                <span class="b-tag-title" tag="{{tags.area.min }}">area from: {{ tags.area.min }} m2</span><a href="#" class="action__remove_tag area area_from"></a>
                            </li>
                        {% endif %}
                        {% if tags.area.max %}
                            <li class="b-list-item b-tag area area_to">
                                <span class="b-tag-title" tag="{{ tags.area.max }}">area to: {{ tags.area.max }} m2</span><a href="#" class="action__remove_tag area area_to"></a>
                            </li>
                        {% endif %}
                    {% endif %}
                    {% if tags.rooms %}
                        {% if tags.rooms.min %}
                            <li class="b-list-item b-tag rooms rooms_from">
                                <span class="b-tag-title" tag="{{tags.rooms.min }}">rooms from: {{ tags.rooms.min }}</span><a href="#" class="action__remove_tag rooms rooms_from"></a>
                            </li>
                        {% endif %}
                        {% if tags.rooms.max %}
                            <li class="b-list-item b-tag rooms rooms_to">
                                <span class="b-tag-title" tag="{{ tags.rooms.max }}">rooms to: {{ tags.rooms.max }}</span><a href="#" class="action__remove_tag rooms rooms_to"></a>
                            </li>
                        {% endif %}
                    {% endif %}
                    {% if tags.furnished %}
                        <li class="b-list-item b-tag furnished">
                            <span class="b-tag-title" tag="furnished">furnished</span><a href="#" class="action__remove_tag furnished"></a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
        </section>
        <input type="hidden" name="type" value="{% if type %}{{ type|lower }}{% endif %}" />
        <input type="hidden" name="category" value="{% if category %}{{ category }}{% endif %}" />
        <input type="hidden" id="furnished" name="furnished" value="{% if furnished == 1 or furnished == '1' %}1{% else %}0{% endif %}" />
        <input type="hidden" id="order_field" name="order_field" value="{% if order_field %}{{ order_field }}{% else %}date{% endif %}" />
        <input type="hidden" id="order_direction" name="order_direction" value="{% if order_direction %}{{ order_direction }}{% else %}desc{% endif %}" />
        <input type="hidden" id="perpage" name="perpage" value="{% if perpage %}{{ perpage }}{% else %}30{% endif %}" />
        <input type="hidden" id="page" name="page" value="{% if page %}{{ page }}{% else %}1{% endif %}" />
        <input type="hidden" id="page" name="page" value="1" />
        {% csrf_token %}
        </form>
        </aside>
        <section class="b-content">
            <h1 class="b-h1">{{ results_count }} Properties found: <br />
                {% if categoryTitle %}{{ categoryTitle }}{% endif %}{% if type|lower == 'louer' %} a Louer{% endif %}{% if type|lower == 'acheter' %} a Vendre{% endif %}{% if addressTitle %} a {{ addressTitle}}{% endif %}</h1>
            <section class="b-banner"></section>
            {% if object_list %}
                <section class="b-order">
                    <section class="b-avaliable-since">
                        <p class="b-plaintext">Sort by:</p>
                    </section>
                    <section class="b-order-buttons">
                        <section class="b-button b-order-buttons__date{% if order_field == 'date' or not order_field %} state__active {% if order_direction == 'asc'%} order__asc{% else %}order__desc{% endif %}{% endif %}">
                            <span class="b-plaintext">Date</span>
                            <span class="b-icon"></span>
                        </section>
                        <section class="b-button b-order-buttons__gross_rent{% if order_field == 'grossrent' %} state__active {% if order_direction == 'asc'%} order__asc{% else %}order__desc{% endif %}{% endif %}">
                            <span class="b-plaintext">Gross rent</span>
                            <span class="b-icon"></span>
                        </section>
                        <section class="b-button b-order-buttons__rooms{% if order_field == 'rooms' %} state__active {% if order_direction == 'asc'%} order__asc{% else %}order__desc{% endif %}{% endif %}">
                            <span class="b-plaintext">Rooms</span>
                            <span class="b-icon"></span>
                        </section>
                        <section class="b-button b-order-buttons__area{% if order_field == 'area' %} state__active {% if order_direction == 'asc'%} order__asc{% else %}order__desc{% endif %}{% endif %}">
                            <span class="b-plaintext">Area</span>
                            <span class="b-icon"></span>
                        </section>
                    </section>
                </section>
            {% endif %}
            <section class="b-object-list" id="object_list">
                {% if object_list %}
                    <ul class="b-list">
                        {% for object in object_list %}
                            <li class="b-list-item b-object-list-item">
                                <figure class="b-figure">
                                    <section class="b-img-wrapper">
                                        <a href="/detail/{{ object.id|repl }}/" class="b-link">
                                            {% if object.get_first_image %}<img class="b-img noimage" width="195" height="131" src="{{ object.get_first_image }}" />{% else %}<img class="b-img noimage" width="195" height="131" src="{{ STATIC_URL }}images/carbonie-noimage-medium.jpg" />
                                            {% endif %}
                                        </a>
                                    </section>
                                    <p class="b-avaliable-since">Avaliable since: {{ object.avaliable }}</p>
                                </figure>
                                <section class="b-content">
                                    <section class="b-leftcolumn">
                                        <p class="b-title">
                                            <a href="/detail/{{ object.id|repl }}/" class="b-link">{{ object.title|truncatechars:34 }}</a>
                                        </p>
                                        {% if object.address %}<p class="b-address">{{ object.address }}</p>{% endif %}
                                        {% if object.viewcount %}<p class="b-viewcount">There are {{ object.viewcount }} people looking at apartment.There are 10 people looking at apartment.</p>{% endif %}
                                        <p class="b-row">
                                            {% if object.rooms %}<span class="b-rooms">Pièce(s): {{ object.rooms }}</span>{% endif %}
                                            {% if object.area %}<span class="b-area">Surface: {{ object.area}} m<span class="super">2</span>{% endif %}</span>
                                        </p>
                                        {% comment  %} object.benefits {% endcomment %}
                                        {% if object.get_surroundings %}
                                            <section class="b-reasons">
                                                <ul class="b-list">
                                                    {% for item in object.get_surroundings %}
                                                        {% if forloop.counter < 3 %}
                                                            <li class="b-list-item{% if forloop.last or forloop.counter == 2  %} position__last{% endif %}">
                                                                {% with item|split:":" as data %}
                                                                    {% for item in data %}
                                                                        {% if data|length == 1 %}
                                                                            <p class="b-title">{{ item|fr }}</p>
                                                                        {% else %}
                                                                            {% if forloop.counter == 1 %}
                                                                                <p class="b-title">{{ item|fr }}:</p>
                                                                            {% endif %}
                                                                            {% if forloop.counter == 2 %}
                                                                                <p class="b-value">{{ item|fr }}</p>
                                                                            {% endif %}
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                {% endwith %}
                                                            </li>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            </section>
                                        {% endif %}
                                    </section>
                                    <section class="b-rightcolumn">
                                        <p class="b-price">{% if object.price %}CHF {{ object.price|replacecomma }}{% else %}On demand{% endif %}</p>
                                        {% if object.price %}<p class="b-period">Month</p>{% endif %}
                                        <div class="b-form" method="get" action="/detail/{{ object.id|repl }}/">
                                            <a class="b-link" href="/detail/{{ object.id|repl }}/">
                                                <span class="b-sumbit b-applynow">Apply&nbsp;Now</span>
                                            </a>
                                        </div>
                                    </section>
                                </section>

                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <section class="b-nothing">
                        <h2 class="b-h2">Nothing to display!</h2>
                    </section>
                {% endif %}
            </section>
            {% if paginator.num_pages > 0 %}
                <section class="b-pagination">
                    <ul class="b-detail-navigation b-list">
                        <li class="b-list-item action__previous{% if not whole_object_list.has_previous %} state__disabled{% endif %}">
                            <a class="b-link action__changepage" href="{% if whole_object_list.has_previous %}{{ chpu_url|getUrlByPageInt:whole_object_list.previous_page_number|getUrlByOrderDirection:order_direction|getUrlByOrderField:order_field }}{% else %}#{% endif %}"><< Previous</a>
                        </li>

                        {% for pagenumber in pagelist %}
                            <li class="b-page-number{% if page == pagenumber %} state__active{% endif %}">
                                <a class="b-link action__changepage" href="
                                {{ chpu_url|getUrlByPageInt:pagenumber|getUrlByOrderField:order_field|getUrlByOrderDirection:order_direction}}" page="{{ pagenumber }}">{{ pagenumber }}</a>
                            </li>
                        {% endfor %}


                        <li class="b-list-item action__next{% if not whole_object_list.has_next %} state__disabled{% endif %}">
                            <a class="b-link action__changepage" href="{% if whole_object_list.has_next %}{{ chpu_url|getUrlByPageInt:whole_object_list.next_page_number|getUrlByOrderDirection:order_direction|getUrlByOrderField:order_field }}{% else %}#{% endif %}">Next >></a>
                        </li>
                    </ul>
                </section>
            {% endif %}
            {% comment %}
                showPerpage = Bool
            {% endcomment %}
            {% if True %}
                <section class="b-per-page">
                    <span class="b-title">Results per page: </span>
                    <ul class="b-list">
                        <li class="b-list-item{% if perpage == '30' or perpage == 30 %} state__active{% endif %}">
                            <a class="b-link" href="{% if chpu_url %}{{ chpu_url|getUrlByPageInt:1|getUrlByOrderField:order_field|getUrlByOrderDirection:order_direction|getUrlByPerpage:30}}{% endif %}">30</a>
                        </li>
                        <li class="b-list-separator">
                            <span>|</span>
                        </li>
                        <li class="b-list-item{% if perpage == '60' or perpage == 60 %} state__active{% endif %}">
                            <a class="b-link" href="{% if chpu_url %}{{ chpu_url|getUrlByPageInt:1|getUrlByOrderField:order_field|getUrlByOrderDirection:order_direction|getUrlByPerpage:60}}{% endif %}">60</a>
                        </li>
                        <li class="b-list-separator">
                            <span>|</span>
                        </li>
                        <li class="b-list-item{% if perpage == '120' or perpage == 120 %} state__active{% endif %}">
                            <a class="b-link" href="{% if chpu_url %}{{ chpu_url|getUrlByPageInt:1|getUrlByOrderField:order_field|getUrlByOrderDirection:order_direction|getUrlByPerpage:120}}{% endif %}">120</a>
                        </li>
                    </ul>
                </section>
            {% endif %}
            <section class="b-link-list">
                <h3 class="b-h3">Apartment to rent</h3>
                <ul class="b-list">
                    <li class='b-list-item'>
                        <a href="#" class="b-link">1 room apartment:	12</a>
                    </li>
                    <li class='b-list-item'>
                        <a href="#" class="b-link">1 room apartment:	12</a>
                    </li>
                    <li class='b-list-item'>
                        <a href="#" class="b-link">1 room apartment:	12</a>
                    </li>
                    <li class='b-list-item'>
                        <a href="#" class="b-link">1 room apartment:	12</a>
                    </li>
                    <li class='b-list-item'>
                        <a href="#" class="b-link">1 room apartment:	12</a>
                    </li>
                    <li class='b-list-item'>
                        <a href="#" class="b-link">1 room apartment:	12</a>
                    </li>
                    <li class='b-list-item'>
                        <a href="#" class="b-link">1 room apartment:	12</a>
                    </li>
                    <li class='b-list-item'>
                        <a href="#" class="b-link">1 room apartment:	12</a>
                    </li>
                    <li class='b-list-item'>
                        <a href="#" class="b-link">1 room apartment:	12</a>
                    </li>
                    <li class='b-list-item'>
                        <a href="#" class="b-link">1 room apartment:	12</a>
                    </li>
                    <li class='b-list-item'>
                        <a href="#" class="b-link">1 room apartment:	12</a>
                    </li>
                    <li class='b-list-item'>
                        <a href="#" class="b-link">1 room apartment:	12</a>
                    </li>
                    <li class='b-list-item'>
                        <a href="#" class="b-link">1 room apartment:	12</a>
                    </li>
                    <li class='b-list-item'>
                        <a href="#" class="b-link">1 room apartment:	12</a>
                    </li>
                    <li class='b-list-item'>
                        <a href="#" class="b-link">1 room apartment:	12</a>
                    </li>
                    <li class='b-list-item'>
                        <a href="#" class="b-link">1 room apartment:	12</a>
                    </li>
                    <li class='b-list-item'>
                        <a href="#" class="b-link">1 room apartment:	12</a>
                    </li>
                </ul>
            </section>
        </section>
        </section>

        <script type="text/javascript">
            $(document).ready(function(){
                //toggle placeholder
                $(".b-search .b-label input").on('focus', function(event){
                    event.preventDefault();
                    $(this).addClass('state__active');
                    return false;
                });

                //checkbox
                $("#checkbox").on('click', function(event){
                    event.preventDefault();
                    $(this).toggleClass('state__checked');
                    var furnished = $("#checkbox").val();
                    if ($(this).hasClass('state__checked')){
                        $("#furnished").val('1');
                        var html = '<li class="b-list-item b-tag furnished"><span class="b-tag-title" tag="furnished">furnished</span><a href="#" class="action__remove_tag furnished"></a></li>'
                        $("#tag-list").append(html);
                    } else {
                        $("#tag-list .b-tag.furnished").remove();
                        $("#furnished").val('0');
                    }
                    return false;
                });

                //filters asc desc
                $(".b-order-buttons .b-button").on('click', function(event){
                    event.preventDefault();
                    var order_field = $(this).find('.b-plaintext').text().toLowerCase().replace(/ /g,'');
                    var order_direction = 'desc';
                    // remove all order classes if no filter is active
                    if ($(this).hasClass("state__active")){
                        if ($(this).hasClass("order__desc")){
                            order_direction = 'asc';
                            $(this).toggleClass("order__desc").toggleClass("order__asc");
                        }
                        else if ($(this).hasClass("order__asc")){
                            $(this).toggleClass("order__desc").toggleClass("order__asc");
                        } else {
                            $(this).toggleClass("order__desc");
                        }
                        //$("#order_field").val(order_field);
                        //#$("#order_direction").val(order_direction);
                        $("#page").val({{ page }});
                        $("#perpage").val({{ perpage }});
                        $("#order_direction").val('asc');
                        $("#order_field").val(order_field);

                    } else {
                        $(".b-order-buttons .b-button").removeClass('order__desc').removeClass('order__asc').removeClass('state__active');
                        $("#page").val({{ page }});
                        $("#perpage").val({{ perpage }});
                        $("#order_direction").val('desc');
                        $("#order_field").val(order_field);
                        $(this).toggleClass('state__active').toggleClass("order__desc");
                    }

                    //submit form
                    $("#submit").trigger('click');
                    return false;
                });

                // per page
                //$(".b-per-page .b-link").on('click', function(event){
                //    event.preventDefault();
                //    $(".b-per-page .b-list-item.state__active").removeClass("state__active");
                //   $(this).parent().toggleClass('state__active');
                //    $("#perpage").val($(this).text());
                //    //submit form
                //    $("#submit").trigger('click');
                //    return false;
                //});

                //update range sliders on input change
                //price
                $("#id_price_min").change(function(){
                    console.log('price min change fire');
                    if (typeof rooms_slider !== 'undefined') {
                        price_slider.update({'from': $(this).val()});
                        //console.log('price min change fire');
                    } else {
                        var price_slider = $("#price_range").data("ionRangeSlider");
                        price_slider.update({'from': $(this).val()});
                        //console.log('price min change fire');
                    }

                });
                $("#id_price_max").change(function(){
                    if (typeof price_slider !== 'undefined') {
                        price_slider.update({'to': $(this).val()});
                    } else {
                        var price_slider = $("#price_range").data("ionRangeSlider");
                        price_slider.update({'to': $(this).val()});
                    }
                });
                //area
                $("#id_area_min").change(function(){
                    if (typeof area_slider !== 'undefined') {
                        area_slider.update({'from': $(this).val()});
                    } else {
                        var area_slider = $("#area_range").data("ionRangeSlider");
                        area_slider.update({'from': $(this).val()});
                    }
                });
                $("#id_area_max").change(function(){
                    if (typeof area_slider != 'undefined') {
                        area_slider.update({'to': $(this).val()});
                    } else {
                        var area_slider = $("#area_range").data("ionRangeSlider");
                        area_slider.update({'to': $(this).val()});
                    }
                });
                //rooms
                $("#id_rooms_min").change(function(){
                    if (typeof rooms_slider != 'undefined') {
                        rooms_slider.update({'from': $(this).val()});
                    } else {
                        var rooms_slider = $("#rooms_range").data("ionRangeSlider");
                        rooms_slider.update({'from': $(this).val()});
                    }
                });
                $("#id_rooms_max").change(function(){
                    if (typeof rooms_slider != 'undefined') {
                        rooms_slider.update({'to': $(this).val()});
                    } else {
                        var rooms_slider = $("#rooms_range").data("ionRangeSlider");
                        rooms_slider.update({'to': $(this).val()});
                    }
                });
            });
        </script>
    {% endblock %}
</section>
{% endblock %}
